<!-- isso é uma tag <html> -->
    <!--
        HyperText
            HiperTexto
        Markup
            Marcação
        Language
            Linguagem
    -->
<!DOCTYPE html>
<html lang="pt_br"><!--lang é um atributo-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" href="/styles/partials/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-landing">
    <div id="container">
        <div class="logoSlogan">
            <img src="images/logo.svg" alt="Logo" class="imgIndex">
            <p>
                Sua plataforma de estudos online
            </p>
        </div>
        <img src="images/landing.svg" alt="Landing" class="imgIndex">
        <div class="buttons">
            <a class="study" href="/study"><img src="/images/icons/study.svg" alt="Estudar">Estudar</a>
            <a class="give-classes" href="/give-classes"><img src="/images/icons/give-classes.svg" alt="Dar aulas">Dar aulas</a>
        </div>
        <p class="info">500 Proffys inscritos!</p>
    </div>
</body>
</html>